body{
    background-color: rgb(226, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

footer{
background-color: aliceblue;
position: fixed;
vertical-align:middle;
text-align:center;
bottom:0;
width:100%;
padding-top:40px;
height:40px;
margin: 0;
padding: 1.5% 0;
}

#zob{
    background-color: aliceblue;
    margin: 0;
    padding: 0.2% 0;
}