body, html{height:100%;}   
    
    #main{
    
    max-width:1280px;
    
    min-height:100%;
    
    margin:0 auto;
    
    position:relative;
    
    }
    
     
    
    footer{
    
    background:rgb(133, 128, 128);
    
    position:absolute;

    text-align:center;
    
    bottom:0;
    
    width:100%;
    
    padding-top:60px;
    
    height:60px;
    
    }