    footer{
    
    background:#ccc;
    background:rgb(133, 128, 128);
    
    position:absolute;

    text-align:center;
    
    bottom:0;
    
    width:100%;
    
    padding-top:50px;
    
    height:50px;
    
    }
    
      